@model ChocolateShop.entity.Chocolate

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Create</h2>
<link href="~/Content/ChocoFunctions.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "Default", FormMethod.Post))
{
    //@Html.AntiForgeryToken()
    <div class="Chocooperations">
        <table class="chocotable" border="1">
            <tr>
                <td>Company :</td>
                <td>@Html.TextBoxFor(Model => Model.Company)</td>
            </tr>
            <tr>
                <td>Name :</td>
                <td>@Html.TextBoxFor(Model => Model.Name)</td>
            </tr>
            <tr>
                <td>Price :</td>
                <td>@Html.TextBoxFor(Model => Model.Price)</td>
            </tr>
            @*<tr>
            <td>Manufacture date :</td>
            <td>@Html.TextBoxFor(Model => Model.ManufactureDate.ToShortDateString())</td>
        </tr>
        <tr>
            <td>Expiry date :</td>
            <td>@Html.TextBoxFor(Model => Model.ExpiryDate.ToShortDateString())</td>
        </tr>*@
            <tr>
                <td>Description</td>
                <td>@Html.TextBoxFor(Model => Model.Description)</td>
            </tr>
            <tr>
                <td>Stock available :</td>
                <td>@Html.TextBoxFor(Model => Model.Quantity)</td>
            </tr>
           
            <tr>
                <td>@Html.LabelFor(model  => model.CategorieId, htmlAttributes: new { @class = "control-label col-md-2"})</td>
                <td>@Html.DropDownListFor(model => model.CategorieId, ViewBag.Categories as IEnumerable<SelectListItem>)</td>
                <td>@Html.ValidationMessageFor(Model => Model.CategorieId, "", new { @class = "text-danger"})</td>
                
            </tr>
            
            <tr>

                <td>
                    <input type="submit" />
                </td>
                <td>
                    <a href="Index">Back</a>
                </td>
            </tr>
        </table>
    </div>
}
