@model ChocolateShop.entity.Chocolate

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Edit</h2>
<link href="~/Content/ChocoFunctions.css" rel="stylesheet" />
@using (Html.BeginForm("Update", "Default", FormMethod.Post))
{
    //@Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.Name)
    <div class="Chocooperations">
        <table class="chocotable" border="1">
            <tr>
                <td>Company : </td>
                <td>@Html.TextBoxFor(Model => Model.Company)</td>
            </tr>
            <tr>
                <td>Name : </td>
                <td>@Html.TextBoxFor(Model => Model.Name)</td>
            </tr>
            <tr>
                <td>Price : </td>
                <td>@Html.TextBoxFor(Model => Model.Price)</td>
            </tr>
            @*<tr>
                    <td>Manufacture date : </td>
                    <td>@Html.TextBoxFor(Model => Model.ManufactureDate.ToShortDateString())</td>
                </tr>
                <tr>
                    <td>Expiry date :</td>
                    <td>@Html.TextBoxFor(Model => Model.ExpiryDate.ToShortDateString())</td>
                </tr>*@
            <tr>
                <td>Description</td>
                <td>@Html.TextBoxFor(Model => Model.Description)</td>
            </tr>
            <tr>
                <td>Stock available :</td>
                <td>@Html.TextBoxFor(Model => Model.Quantity)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Update" /></td>
                <td>
                    <a href="Index">Back</a>
                </td>
            </tr>

        </table>
    </div>
}
