
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create new product","Create")
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Protein</th>
    </tr>
</table>
@foreach(ChocolateShop.entity.Chocolate item in Model)
{
<tr>
    <td>@item.Name</td>
    <td>@item.Price</td>
    <td>@item.Protein</td>
    <td>@Html.ActionLink("Edit","Edit", new { id = item.Name})</td>
    <td>@Html.ActionLink("Delete", "Delete", new { id = item.Name })</td>
</tr>
}
